.account.column {
  background: rgba(255, 255, 255, 0.5);
  border-radius: .28571429rem;
  margin: 25vh 0vw;
}

.account.signup.column {
  margin: 5vh 0vw;
}

body {
  height: 100vh;
  width: 100vw;
}

.banner.image {
  margin: 2rem 0rem;
}
