<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/semantic-ui/dist/semantic.min.css') }}"/>
  {% block style %}{% endblock %}
</head>
<body {% if use_background_image %}style="background-image: url({{ background_image_url }})"{% endif %}>
<div class="ui container">
  {% block content %}
  {% endblock %}
</div>

<script src="{{ url_for('static', filename='lib/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/semantic-ui/dist/semantic.min.js') }}"></script>
{% block script %}{% endblock %}
</body>
</html>
