{% extends 'layout.html' %}

{% set use_background_image = True %}

{% block content %}
    <div class="ui three column stackable centered grid">
      <div class="account column">
        <a href="{{ config['HOST_CLIENT'] }}">
          <img class="ui banner image" src="{{ url_for('static', filename='images/main_banner.png') }}"/>
        </a>

        <h3 class="ui center aligned header">회원가입을 축하합니다</h3>
        <p class="help-message">
          환영합니다!<br/>
        </p>
        <a href="{{ config['HOST_CLIENT'] }}" class="fluid ui animated fade teal button manage-user-segment">
          <div class="visible content">메인으로 돌아가기</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </a>
      </div>
    </div>
{% endblock %}
